<aside class="sidebar">
    <div class="sidebar-brand">
        <img src="logo.png" alt="TakeCare logo" class="sidebar-logo" />
    </div>

    <nav class="sidebar-nav" aria-label="Coordinator navigation">
        <a routerLink="/coordinator" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
            class="nav-item">
            <span class="nav-icon">🏠︎</span>
            <span>Dashboard</span>
        </a>

        <a routerLink="/coordinator/patient" routerLinkActive="active" class="nav-item">
            <!-- <span class="nav-icon">♡</span> -->
            <span class="nav-icon">𖹭</span>
            <span>Assigned patient</span>
        </a>

        <a routerLink="/coordinator/appointments" routerLinkActive="active" class="nav-item">
            <span class="nav-icon">◷</span>
            <span>Appointments</span>
        </a>
        <a routerLink="/coordinator/diary" routerLinkActive="active" class="nav-item">
            <span class="nav-icon">🕮</span>
            <span>Diary</span>
        </a>

        <a routerLink="/coordinator/therapies" routerLinkActive="active" class="nav-item">
            <span class="nav-icon">𖥧</span>
            <span>Therapies</span>
        </a>

        <a routerLink="/coordinator/professionals" routerLinkActive="active" class="nav-item">
            <span class="nav-icon">⚕</span>
            <span>Professionals</span>
        </a>

        <a routerLink="/coordinator/documents" routerLinkActive="active" class="nav-item">
            <span class="nav-icon">🗐</span>
            <span>Documents</span>
        </a>

        <a routerLink="/coordinator/profile" routerLinkActive="active" class="nav-item">
            <!-- <span class="nav-icon">○</span> -->
            <span class="nav-icon">𖨆</span>
            <span>My profile</span>
        </a>
    </nav>

    <div class="sidebar-footer">
        <button type="button" class="logout-button" (click)="signOut()">
            <span class="nav-icon">↪</span>
            <span>Sign out</span>
        </button>
    </div>
</aside>