<aside class="sidebar">
    <div class="sidebar-brand">
        <img src="logo.png" alt="TakeCare logo" class="sidebar-logo" />
    </div>

    <nav class="sidebar-nav" aria-label="Main navigation">
        <a routerLink="/parent" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-item">
            <span class="nav-icon">🏠︎</span>
            <span>Home</span>
        </a>

        <a routerLink="/parent/care-profile" routerLinkActive="active" class="nav-item">
            <span class="nav-icon">𖹭</span>
            <span>Care profile</span>
        </a>

        <a routerLink="/parent/diary" routerLinkActive="active" class="nav-item">
            <span class="nav-icon">🕮</span>
            <span>Diary</span>
        </a>

        <a routerLink="/parent/therapies" routerLinkActive="active" class="nav-item">
            <span class="nav-icon">𖥧</span>
            <span>Therapies</span>
        </a>

        <a routerLink="/parent/appointments" routerLinkActive="active" class="nav-item">
            <span class="nav-icon">◷</span>
            <span>Appointments</span>
        </a>

        <a routerLink="/parent/calendar" routerLinkActive="active" class="nav-item">
            <span class="nav-icon">🗓</span>
            <span>Calendar</span>
        </a>

        <a routerLink="/parent/professionals" routerLinkActive="active" class="nav-item">
            <span class="nav-icon">⚕</span>
            <span>Professionals</span>
        </a>

        <a routerLink="/parent/documents" routerLinkActive="" class="nav-item">
            <span class="nav-icon">🗐</span>
            <span>Documents</span>
        </a>

        <a routerLink="/parent/support-coordinator" routerLinkActive="active" class="nav-item">
            <span class="nav-icon">❀</span>
            <span>Support coordinator</span>
        </a>

        <a routerLink="/parent/profile" routerLinkActive="active" class="nav-item">
            <!-- <span class="nav-icon">○</span> -->
            <span class="nav-icon">𖨆</span>
            <span>My profile</span>
        </a>
    </nav>

    <div class="sidebar-footer">
        <button type="button" class="logout-button" (click)="signOut()">
            <span class="nav-icon">↪</span>
            <span>Sign out</span>
        </button>
    </div>
</aside>